{% extends "site/base_site.html" %}
{% load crispy_forms_tags %}
{% load static %}



{% block extrastyle %}
<link rel="stylesheet" href="{% static 'user/css/user_detail.css' %}">
{% endblock %}


{% block content %}
<div class="container rounded bg-white mt-3">
  <form action="" method="post">
    <div class="row">
      {% csrf_token %}
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img src="{% get_media_prefix %}{{form.image.value}}" class="rounded-circle mt-5" width="150px">
          <span class="font-weight-bold">{{ form.username.value }}</span>
          <span class="text-black-50">{{ form.email.value }}</span>
        </div>
      </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Personal Details</h4>
          </div>
          <div class="row mt-3">
            {{ form|crispy }}
          </div>
          <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">My Groups</h4>
          </div>
          {% for formset in inlines %}
            <div class="row mt-3">
              {{ formset|crispy }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </form>
</div>



{% endblock %}

{% block extrajs %}
<script src="{% static 'home/js/jquery-3.6.0.js' %}"></script>
{% endblock %}