{% load static %}

<!doctype html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <!-- <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- extrastyle -->
  {% block extrastyle %}{% endblock %}


</head>

<body>
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand link-dark" href="{% url 'home' %}">SmartShare</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
            aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle link-dark" href="#" id="GroupDropdownMenuLink" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Group
                </a>
                <ul class="dropdown-menu dropdown-menu" aria-labelledby="GroupDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'view-gp' %}">View Group</a></li>
                  <li><a class="dropdown-item" href="#">Create Group</a></li>
                  <li><a class="dropdown-item" href="#">Edit Group</a></li>
                  <li><a class="dropdown-item" href="#">Delete Group</a></li>
                </ul>
              </li>
            </ul>
          </div>

          {% if user.is_authenticated %}
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ request.user.image.url }}" alt="mdo" width="48" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="{% url 'profile_detail' %}">Profile</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
              </ul>
            </div>
          {% else %}
            <div class="col-md-3 text-end">
              <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Login</a>
              <a href="{% url 'register' %}" class="btn btn-primary">Sign-up</a>
            </div>
          {% endif %}

        </div>
      </nav>
    </div>
  </header>

  {% block messages %}
    {% if messages %}
      <div class="messagelist">
        {% for message in messages %}
          <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">
            {{ message|capfirst }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endblock messages %}


  {% block content %}
  {% endblock %}














  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->


  {% block extrajs %}{% endblock %}
</body>

</html>